
body {
    font-family:Consolas,Monaco,"Andale Mono",monospace;
    background-color: aliceblue;
}

footer {
    font-family: Impact, serif;
    color: rebeccapurple;
}

h1 {
    font-family: Impact, serif;
    color: rebeccapurple;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}

hr {
    color: rebeccapurple;
}

a {
    text-decoration: none;
    color: rebeccapurple;
    cursor: pointer;
    font-weight: bold;
}

.central {
    min-height: 250px;
}
